<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!--/*@thymesVar id="confirmation" type="com.sweng894.GetVaccinated.schedule.ScheduleConfirmation"*/-->
<head>
  <meta charset="UTF-8">
  <title>Get Vaccinated - Confirmation</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<header>
  <h1><a href="/">Get Vaccinated</a></h1>
</header>
<main>
  <p>Confirmation Number: <span th:text="${confirmation.confirmationNumber}"></span></p>
</main>
</body>
</html>
