<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!--/*@thymesVar id="confirmationNumber" type="java.lang.String"*/-->
<head>
  <meta charset="UTF-8">
  <title>Get Vaccinated - Confirmation</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <p>Confirmation Number: <span th:text="${confirmationNumber}"></span></p>
  <p><a th:href="@{/schedule/confirmation/{confirmationNumber}.ics(confirmationNumber=${confirmationNumber})}">Download Calendar Invite</a></p>
</main>
</body>
</html>
