<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <title>Get Vaccinated - Ineligible</title>
</head>
<body>
  <header th:replace="fragments/header :: header"></header>
    <div>
	  <b> You are not eligible at this time to book an appointment. </b>
	  <p> Please try again later after requirement conditions have changed. </p>
	</div>
    <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>
