<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <title>Get Vaccinated - FAQs</title>
</head>
<body class="container">
<header th:replace="fragments/header :: header"></header>
<main>
  <h2>Important FAQs About Ways to Slow the Spread</h2>
  <p>Wear a mask that covers your nose and mount to help protect yourself and others.</p>
  <p>Stay 6 feet apart from others who don't live with you.</p>
  <p>Get a COVID-19 vaccine when it is available to you.</p>
  <p>Avoid crowds and poorly ventilated indoor spaces.</p>
  <p>Wash your hands often with soap and water.</p>
</main>
</body>
</html>
