<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <title>Get Vaccinated - Home</title>
</head>
<body>

<main>
  <h1>Get Vaccinated</h1>
  <p><button th:onclick="showWarning()">Schedule a Vaccination</button></p>
  <p><button onclick="redirect()">Report side effects</button></p>
</main>
<button type="button" th:onclick="showEligibilityModal()">Check Vaccine Eligility</button>

<div id="warningModal" class="modal">
  <div class="modal-content">
    <p>By clicking 'OK', I acknowledge that I may experience some side effects, such as fevers or muscle fatigue, after receiving the COVID-19 vaccine.</p>
    <button onclick="location.href='/schedule'">OK</button>
  </div>
</div>

<div id="eligibilityModal" class="modal">
  <div class="modal-content">
    <p>You are ineligible to schedule a vaccine appointment at this time. Please check back later.</p>
  </div>
</div>

 <script type="text/javascript" th:src="@{/js/home.js}"></script>
  <script type="text/javascript">
    function redirect() {
      window.open(' https://vaers.hhs.gov/ ', '_blank');
    }
  </script>
</body>
</html>
