<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <title>Get Vaccinated - Home</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
  <div style="width:75%">
  	<p> Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus called SARS-CoV-2. <p>
  	<p> Most people infected with COVID-19 will experience mild to moderate respiratory illness and recover without requiring special treatment. 
  	Older adults and people who have severe underlying medical conditions like heart or lung disease or diabetes seem to be at higher risk for 
  	developing more serious complications from COVID-19 illness. </p>
  	<p> Please refer to the <a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">World Health Organization (WHO)</a> 
  	or the <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">Centers for Disease Control and Prevention (CDC)</a> for more information pertaining to COVID-19. </p> </br>
  	<p> Authorized COVID-19 vaccines can help protect you from COVID-19.</p>
  </div>
  <p><button  value="warningModal" th:onclick="showModal('', 'warningModal')">Schedule a Vaccination</button></p>
  <p><button><a href="/vaccines">Vaccines Info</a></button></p>
</main>

<div id="warningModal" class="modal">
  <div class="modal-content">
    <p>By clicking 'OK', I acknowledge that I may experience some side effects, such as fevers or muscle fatigue, after receiving the COVID-19 vaccine.</p>
    <button th:onclick="showModal('warningModal', 'eligibilityQ1')">OK</button>
  </div>
</div>

<div id="eligibilityQ1" class="modal">
  <div class="modal-content">
    <p>Are you 50 years or older?</p>
    <button th:onclick="showModal('eligibilityQ1', 'eligibilityQ2')"> No </button>
    <button th:onclick="location.href='schedule'"> Yes </button>
  </div>
</div>

<div id="eligibilityQ2" class="modal">
  <div class="modal-content">
    <p>Do you have one or more qualifying medical conditions associated to qualify under the required age threshold?</p>
    <button th:onclick="showModal('eligibilityQ2','eligibilityQ3')"> No </button>
    <button th:onclick="location.href='/schedule'"> Yes </button>
  </div>
</div>

<div id="eligibilityQ3" class="modal">
  <div class="modal-content">
    <p>Do you fall into the allowed essential worker or teaching profession?</p>
    <button th:onclick="location.href='/schedule/ineligible'"> No </button>
    <button th:onclick="location.href='/schedule'"> Yes </button>
  </div>
</div>

 <script type="text/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>
